.keySkillForm {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.keySkillForm input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.inputDiv {
    display: flex;
    flex-direction: row;
}

.keySkillsList {
    display: flex;
    flex-direction: row;
    width: 400px;
}