* {
    margin: 0;
    padding: 0;
}

.applicantData {
    display: flex;
    padding: 10px;
    border: 2px solid green;
    border-radius: 10px;
    margin: 0 0 10px;
    justify-content: space-between;
    align-items: center;
}