.keySkillForm {
    margin-bottom: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.inputDiv {
    display: flex;
    flex-direction: row;
}

.keySkillsList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 300px;
}