* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex_column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex {
    display: flex;
    gap: 10px;
}

.title {
    font-size: 18px;
    color: gray;
    text-decoration: none;
}