.header {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.header_title {
    font-size: 32px;
    color: green;
}